/* TABLET VIEW */

@media only screen and (max-width:838px) {
    
    .darkButton {
        top: 120px;
    }
}

@media only screen and (max-width:768px) {

    .main_nav {
        display: none;
    }

    .darkButton {
        top: 42px;
        right: 5px;
    }

    .mobil-menu {
        display: block;
    }

    .mobil-menu-popout {
        display: block;
    }

    p {
        font-family: "aktiv-grotesk", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        position: relative;
        z-index: 2;
    }

    .title {
        margin-top: 50px;
    }

    

    .organize {
        flex-direction: row;
        min-width: 492px;
    }

    .skill_organize {
        flex-direction: column;
        margin: 10px;
    }

    .prog_organize {
        flex-direction: column;
        margin: 10px;
        position: relative;
        z-index: 2;
        justify-content: space-evenly;
    }

    .progress_wheel {
        height: auto;
        width: 100px;

    }

    .img_organize {
        margin: 30px;
    }

    .image {
        height: 300px;
    }

    .faq_border {
        min-width: 492px;
    }

    .question {
        position: relative;
        z-index: 4;
        padding: 5px;
    }

    .rhombus {
        display: flex;
        flex-wrap: wrap;
        height: 38px;
        justify-content: center;
        align-content: center;
    }

    .copywrite {
        display: flex;
        justify-content: center;
        border-top: 2px solid #f22dae;
        margin-left: 50px;
        margin-right: 50px;
        color: #05f3d8;
    }
    

}

@media only screen and (max-width: 630px) {

    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        position: relative;
        z-index: 4;
    }

    .title {
        background-image: none;
    }

    .headline {
        left: -100px;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 20px;
    }

    .top {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 45px;
    }
    
    .bottom {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

}

@media only screen and (max-width: 560px) {

    .headline {
        left: -126px;
    }

    .paragraph_text {
        min-width: 252px;
    }

    .skill_organize {
        min-width: 272px;
    }

    .skill_descrip {
        margin-bottom: 10px;
    }

    .organize {
        max-width: 370px;
        min-width: 0;
    }

    .progress {
        margin-top: 10px;
    }

    .faq {
        margin-left: 0;
        margin-right: 0;
    }

    .faq_border {
        min-width: 0;
    }

    .dropdown {
        margin-left: 58px;
        margin-right: 58px;
    }

}

@media only screen and (max-width:500px) {
      
    .coverflow__image {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 350px;
      height: 350px;
      -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    
    .coverflow__image[data-coverflow-index] {
      position: absolute;
      left: 57%;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }

    .img_organize {
        margin: 10px;
        margin-bottom: -90px;
        margin-top: 40px;
    }

    .prev-arrow, .next-arrow {
        padding: 1rem 1.5rem;
        font-size: 3rem;
    }

}

@media only screen and (max-width: 445px) {

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 17px;
    }

    .headline {
        left: -30%;
        width: 436px;
        background-size: 350px;
        height: 65px;
    }

    .headline_text {
        padding-left: 194px;
    }

    .image {
        height: 230px;
        position: relative;
        z-index: 2;
    }

    .prev-arrow, .next-arrow {
        padding: 0.5rem 1rem;
        font-size: 2rem;
    }

    span {
        margin-top: 10px;
        font-size: 14px;
    }

    .contact_container {
        margin-bottom: 20px;
    }

    .contact_headline {
        margin-top: 107px;
        margin-bottom: 0;
    }

    .field_input {
        display: flex;
        flex-wrap: wrap;
        margin-left: 80px;
        margin-right: 80px;
        font-size: 16px;
    }

    .six_columns {
        margin-bottom: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }

    h4 {
        font-size: 16px;
        position: relative;
        width: 258px;

    }

    .input {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    input[type=text] {
        padding-top: 6px;
        padding-bottom: 6px;
        width: 250px;
    }

    .u-full-width {
        width: 252px;
    }

    .copywrite {
        display: flex;
        justify-content: center;
        border-top: 2px solid #f22dae;
        margin-left: 25px;
        margin-right: 25px;
        min-width: 320px;
        color: #05f3d8;
    }

}

/* MOBILE VIEW */
@media only screen and (max-width: 390px) {

    /*.footer ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    } */

    .faq_border {
        min-width: 300px;
    }

    .dropdown {
        margin-left: 58px;
        margin-right: 58px;
    }

    .copywrite {
        display: flex;
        justify-content: center;
        border-top: 2px solid #f22dae;
        margin-left: 25px;
        margin-right: 25px;
        color: #05f3d8;
    }
  
}
