/* CSS GOES HERE */

/* Good Times Regular 
font-family: "good-times", sans-serif;
font-weight: 500;
font-style: normal;

   Good Times Bold 
font-family: "good-times", sans-serif;
font-weight: 700;
font-style: normal;

    Aktiv Grotesk Regular
font-family: "aktiv-grotesk", sans-serif;
font-weight: 400;
font-style: normal; */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "good-times", sans-serif;
    font-weight: 500;
    font-style: normal;
    vertical-align: baseline;
}

.title {
    background-image: url(images/tech_frame.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    
    padding: 100px;
    height: max-content;
    text-align: center;
}

.title_text {
    /* Guillermo’s Website */

font-weight: 700;
font-size: clamp(28px, 3vw, 42px);
line-height: 58px;
text-align: center;

color: #000000;
}

.sub_text {
    /* viverra vitae congue eu consequat ac */

font-weight: 400;
font-size: clamp(16px, 3vw, 30px);
line-height: 41px;
text-align: center;

color: #000000;


}

.headline {
    background-image: url(images/headline_symbol.svg);
    background-repeat: no-repeat;
    left: 0%;
    height: 78px;
    position: relative;
    z-index: 1;
}

.headline_text {

    /* ABOUT */

    /*position: absolute;*/
    
    height: 60px;
    left: 246px;
    padding-left: 240px;
    

    font-family: "good-times", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;

    color: #000000;


}

p {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.paragraph_box {
    background-image: url(images/Paragraph_box.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
    display: flex;
    flex: 100%;
    position: relative;
    z-index: 0;
    margin-top: -12px;
    margin-bottom: auto;
    justify-content: center;
    
    /*

position: absolute;
width: 700px;
height: 191px;
left: 406px;
top: 922px;

line-height: 23px;

color: #000000; */
}

.paragraph_text {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 700px;
    height: 191px;
    justify-content: flex-end;
    align-content: center;
    
}

section:nth-child(even) {
    background-color: #f2f2f2;
}

.container {
    width: 100%;
    /*max-width: 960px;*/
    /*text-align: center;*/
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 10px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
}