/* CSS GOES HERE */

/* Good Times Regular 
font-family: "good-times", sans-serif;
font-weight: 500;
font-style: normal;

   Good Times Bold 
font-family: "good-times", sans-serif;
font-weight: 700;
font-style: normal;

    Aktiv Grotesk Regular
font-family: "aktiv-grotesk", sans-serif;
font-weight: 400;
font-style: normal; */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "good-times", sans-serif;
    font-weight: 500;
    font-style: normal;
    vertical-align: baseline;
}

.mobil-menu {
    width: 36px;
    height: 36px;
    background-color: #e5e5e5;
    position: fixed;
    top: 40px;
    left: 40px;
    border-radius: 12%;
    background-image: url(images/menu_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 999;
    display: none;
}

.mobil-menu-popout {
    position: fixed;
    top: 0;
    
    background-color: #05f3d8;
    z-index: 998;
    padding: 80px 40px;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-bottom-right-radius: 16px;
    width: 100px;
    left: -190px;
    transition: all 300ms;
}

.open {
    left: 0;
}

.close {
    background-image: url(images/4115230_cancel_close_delete_icon.svg);

}

.mobil-menu-popout ul {
    list-style: none;
    padding-top: 5px;
    padding-left: 5px;
}

.mobil-menu-popout li {
    margin-bottom: 20px;
}

.mobil-menu-popout a {
    text-decoration: none;
    color: #000;
}

.main_nav {
    background-image: url(images/nav_bar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 760px;
    height: 66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.main_nav a {
    text-decoration: none;
    color: #000;
}

ul {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.title_contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title {
    background-image: url(images/tech_frame.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1150px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.title_text {
    /* Guillermo’s Website */
    font-weight: 700;
    font-size: clamp(32px, 3vw, 42px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #000000;
    margin-left: 70px;
    margin-right: 70px;
}

.sub_text {
    /* viverra vitae congue eu consequat ac */
    
    font-weight: 400;
    font-size: clamp(16px, 3vw, 30px);
    line-height: 41px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    
    color: #000000;


}

.headline {
    background-image: url(images/headline_symbol.svg);
    background-repeat: no-repeat;
    left: -5%;
    height: 78px;
    position: relative;
    z-index: 1;
}

.headline_faq {
    background-image: url(images/faq_tech_symbol.svg);
    background-repeat: no-repeat;
    left: -5%;
    height: 78px;
    position: relative;
    z-index: 1;
}

.headline_text {

    /* ABOUT */

    /*position: absolute;*/
    
    height: 60px;
    left: 246px;
    padding-left: 240px;
    

    font-family: "good-times", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(16px, 3vw, 30px);
    line-height: 41px;

    color: #000000;
}

h1 {
    margin-bottom: auto;
}

h2 {
    margin-top: .5rem;
}

p {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.paragraph_border {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    justify-content: center;
    align-self: center;
    max-width: 800px;
    justify-content: center;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #05f3d8;
    
    &:before, &:after {
        content: ' ';
        position: absolute;
        right: 0px;
    }
    &:before {
      width: 30px;
      height: 58px;
      bottom: 40px;
      background: #05f3d8;
      right: 00px;
      border-bottom-right-radius: 6px;
    }
    &:after {
      width: 48px;
      height: 10px;
      bottom: -10px;
      border-top: 43px solid #05f3d8;
      border-right: 58px solid transparent;
    }
    &-content {
      z-index: 2;
      position: relative;
      padding: 20px 25px;
    }
}

.paragraph_box {
    display: flex;
    flex: 100%;
    position: relative;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    background: #e2fffc;
    
    &:before, &:after {
        content: ' ';
        position: absolute;
        right: 0px;
        z-index: 1;
    }
    &:before {
      width: 30px;
      height: 60px;
      bottom: 40px;
      background: #e2fffc;
      right: 00px;
      border-bottom-right-radius: 6px;
    }
    &:after {
      width: 50px;
      height: 10px;
      bottom: -10px;
      border-top: 42px solid #e2fffc;
      border-right: 56px solid transparent;
    }
    &-content {
      z-index: 2;
      display: block;
      position: relative;
      padding: 20px 25px;
    } 

}

.paragraph_text {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 700px;
    height: 191px;
    justify-content: flex-end;
    align-content: center;
    
}

.skill_contain {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    margin-top: -12px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    align-self: center;
}

.organize {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill_organize {
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-between;
}

.skill_descrip {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skill_sub {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.list {
    display: flex;
    flex-direction: row;
    margin-left: 55px;
}

.tech_list {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.skill_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prog_organize {
    display:flex;
    flex-direction: row;
    margin: 30px;
    margin-top: 0px;
}

.progress {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.img_border {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    align-self: center;
    max-width: 800px;
    width: 100%;
    min-height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #000;
    
    &:before, &:after {
        content: ' ';
        position: absolute;
        right: 0px;
    }
    &:before {
      width: 30px;
      height: 58px;
      bottom: 40px;
      background: #000;
      right: 00px;
      border-bottom-right-radius: 6px;
    }
    &:after {
      width: 48px;
      height: 10px;
      bottom: -10px;
      border-top: 43px solid #000;
      border-right: 58px solid transparent;
    }
    &-content {
      z-index: 2;
      position: relative;
      padding: 20px 25px;
    }
}

.img_box {
    display: flex;
    flex: 100%;
    position: relative;
    justify-content: center;
    max-width: 790px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    background: #05f3d8;
    
    &:before, &:after {
        content: ' ';
        position: absolute;
        right: 0px;
        z-index: 1;
    }
    &:before {
      width: 30px;
      height: 60px;
      bottom: 40px;
      background: #05f3d8;
      right: 00px;
      border-bottom-right-radius: 6px;
    }
    &:after {
      width: 50px;
      height: 10px;
      bottom: -10px;
      border-top: 42px solid #05f3d8;
      border-right: 56px solid transparent;
    }
    &-content {
      z-index: 2;
      display: block;
      position: relative;
      padding: 20px 25px;
    } 
}

.img_organize {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.image {
    width: auto;
    height: 400px;
}

span {
    margin-top: 20px;
}

.button {
    display: flex;
    flex-direction: row;
}

.faq_contain {
    display: flex;
    flex-direction: column;
}

.faq {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.faq_border {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    align-self: center;
    max-width: 800px;
    width: 100%;
    min-height: 120px;
    justify-content: center;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #000;
    
    &:before, &:after {
        content: ' ';
        position: absolute;
        right: 0px;
    }
    &:before {
      width: 30px;
      height: 58px;
      bottom: 40px;
      background: #000;
      right: 00px;
      border-bottom-right-radius: 6px;
    }
    &:after {
      width: 48px;
      height: 10px;
      bottom: -10px;
      border-top: 43px solid #000;
      border-right: 58px solid transparent;
    }
    &-content {
      z-index: 2;
      position: relative;
      padding: 20px 25px;
    }
}

.faq_box {
    display: flex;
    flex: 100%;
    position: relative;
    justify-content: left;
    max-width: 790px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    background: #05f3d8;
    
    &:before, &:after {
        content: ' ';
        position: absolute;
        right: 0px;
        z-index: 1;
    }
    &:before {
      width: 30px;
      height: 60px;
      bottom: 40px;
      background: #05f3d8;
      right: 00px;
      border-bottom-right-radius: 6px;
    }
    &:after {
      width: 50px;
      height: 10px;
      bottom: -10px;
      border-top: 42px solid #05f3d8;
      border-right: 56px solid transparent;
    }
    &-content {
      z-index: 2;
      display: block;
      position: relative;
      padding: 20px 25px;
    } 
}

.rhombus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
}

.question {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 700px;
    z-index: 1;
    align-content: center;
}

.dropdown {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    z-index: -1;
    max-width: 650px;
    min-height: 240px;
    justify-content: center;
    align-content: center;
    border-color: #05f3d8;
    border-width: 5px;
    border-style: solid;
    background-color: #e2fffc;
    margin-top: -12px;
    margin-left: 90px;
    margin-right: 90px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.dropdown_text {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    padding: 20px;
    max-width: 630px;
    justify-content: flex-end;
    align-content: center;
}

.contact_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact_container {
    background-image: url(images/contact_frame.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 82%;
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    height: 540px;
    flex-direction: column;
    position: relative;
    z-index: 0;
    margin-bottom: 70px;
    align-items: center;
    
}

.contact_headline {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    margin-top: 80px;
    margin-bottom: 30px;
}

.field_input {
    color: #f22dae;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.six_columns {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

input[type=text] {
    align-content: center;
    background-color: #e2fffc;
    padding-top: 14px;
    padding-bottom: 10px;
    border-radius: 6px;
    justify-content: center;
    font-family: "good-times", sans-serif;

}

::placeholder {
    color: #f22dae;
    font-size: 20px;
    font-family: "good-times", sans-serif;
    font-style: normal;
    vertical-align: baseline;
}

.submit {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}



.container {
    width: 100%;
    /*max-width: 960px;*/
    /*text-align: center;*/
    margin-top: 70px;
    margin-bottom: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 30px;
}

.footer_contain {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;

}

footer {
    display: flex;
    background-color: #000;
    color: #fff;
    /*padding: 10px; */
    border-top: 5px solid #f22dae;
}

a:visited {
    text-decoration: none;
}

.footer a {
    text-decoration: none;
    color: #05f3d8;
}

.copywrite {
    display: flex;
    justify-content: center;
    border-top: 2px solid #f22dae;
    margin-left: 150px;
    margin-right: 150px;
    color: #05f3d8;

}