/* CSS GOES HERE */

/* Good Times Regular 
font-family: "good-times", sans-serif;
font-weight: 500;
font-style: normal;

   Good Times Bold 
font-family: "good-times", sans-serif;
font-weight: 700;
font-style: normal;

    Aktiv Grotesk Regular
font-family: "aktiv-grotesk", sans-serif;
font-weight: 400;
font-style: normal; */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "good-times", sans-serif;
    font-weight: 500;
    font-style: normal;
    vertical-align: baseline;
}

.title {
    background-image: url(images/tech_frame.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 100px;
    margin: auto;
    height: max-content;
    justify-content: center;
    align-content: center;

}

.title_text {
    /* Guillermo’s Website */
    margin-bottom: auto;
    font-weight: 700;
    font-size: clamp(28px, 3vw, 42px);
    text-align: center;
    display: flex;
    
    justify-content: center;
    align-content: center;

color: #000000;
}

.sub_text {
    /* viverra vitae congue eu consequat ac */
    margin-top: auto;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 30px);
    line-height: 41px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    
    color: #000000;


}

.headline {
    background-image: url(images/headline_symbol.svg);
    background-repeat: no-repeat;
    left: -5%;
    height: 78px;
    position: relative;
    z-index: 1;
}

.headline_faq {
    background-image: url(images/faq_tech_symbol.svg);
    background-repeat: no-repeat;
    left: -5%;
    height: 78px;
    position: relative;
    z-index: 1;
}

.headline_text {

    /* ABOUT */

    /*position: absolute;*/
    
    height: 60px;
    left: 246px;
    padding-left: 240px;
    

    font-family: "good-times", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;

    color: #000000;


}

h1 {
    margin-bottom: auto;
}

h2 {
    margin-top: .5rem;
}

p {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.paragraph_box {
    background-image: url(images/Paragraph_box.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
    display: flex;
    flex: 100%;
    position: relative;
    z-index: 0;
    margin-top: -12px;
    margin-bottom: auto;
    justify-content: center;
    
    /*

position: absolute;
width: 700px;
height: 191px;
left: 406px;
top: 922px;

line-height: 23px;

color: #000000; */
}

.paragraph_text {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 700px;
    height: 191px;
    justify-content: flex-end;
    align-content: center;
    
}

.skill_contain {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    margin-top: -12px;
    justify-content: center;
    align-self: center;
}

.skill_border {
    display: flex;
    position: relative;
    width: 800px;
    justify-content: center;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #05f3d8;
    
    &:before, &:after {
        content: ' ';
        position: absolute;
        right: 0px;
    }
    &:before {
      width: 30px;
      height: 58px;
      bottom: 40px;
      background: #05f3d8;
      right: 00px;
      border-bottom-right-radius: 6px;
    }
    &:after {
      width: 50px;
      height: 10px;
      bottom: -10px;
      border-top: 43px solid #05f3d8;
      border-right: 58px solid transparent;
    }
    &-content {
      z-index: 2;
      display: block;
      position: relative;
      padding: 20px 25px;
    }
}

.skill_box {
    display: flex;
    position: relative;
    width: 790px;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: #e2fffc;
    
    &:before, &:after {
        content: ' ';
        position: absolute;
        right: 0px;
        z-index: 1;
    }
    &:before {
      width: 30px;
      height: 60px;
      bottom: 40px;
      background: #e2fffc;
      right: 00px;
      border-bottom-right-radius: 6px;
    }
    &:after {
      width: 50px;
      height: 10px;
      bottom: -10px;
      border-top: 42px solid #e2fffc;
      border-right: 56px solid transparent;
    }
    &-content {
      z-index: 2;
      display: block;
      position: relative;
      padding: 20px 25px;
    }
}


/*.skill_box {
    background-image: url(images/skill_frame.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px;
    display: flex;
    flex: 100%;
    position: relative;
    z-index: 0;
    margin-top: -12px;
    margin-bottom: auto;
    justify-content: center;
} */

section:nth-child(even) {
    background-color: #f2f2f2;
}

.container {
    width: 100%;
    /*max-width: 960px;*/
    /*text-align: center;*/
    margin-top: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 10px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
}